<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ApplicationID" value="0a815802-c756-4649-9e80-22ca648e5f81" />
    <add key="ApplicationSecret" value="up+Vh9zFFLx0EjezJ/VGtYLSi2782Y6gPgWiqf8sXhQ=" />
    <add key="TenantId" value="24314048-456e-45ae-9bc1-f1972e7ed0c1" />
    <add key="WorkspaceId" value="f800e194-8a3c-434b-9b0c-48fb3fc22095" />
    <add key="ReportId" value="329e4312-94c6-4c92-b017-d3f5925b176a" />
    <add key="AADAuthorityUri" value="https://login.windows.net/common/" />
    <add key="PowerBiApiUrl" value="https://api.powerbi.com/" />
    <add key="pbiUsername" value="BIuserName"/>
    <add key="pbiPassword" value="BiUserPassword"/>
    <add key="scope" value="https://analysis.windows.net/powerbi/api/.default"/>
    <!--<add key="Scope" value="https://analysis.windows.net/powerbi/api/Report.Read.All,https://analysis.windows.net/powerbi/api/Dashboard.Read.All" />-->
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <customErrors mode="Off" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>