<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ApplicationID" value="c77b2055-dbf2-45a5-95f1-5fb649658a97" />
    <add key="ApplicationSecret" value="gHsIMBYY8iDx3STMnU0BfL7mXXGHc0eEp5Tv98znih8=" />
    <add key="TenantId" value="24314048-456e-45ae-9bc1-f1972e7ed0c1" />
    <add key="WorkspaceId" value="4c841014-29ca-4963-adc6-a6145194421f" />
    <add key="ReportId" value="779ac521-9284-4d66-99db-6b72eebdcb26" />
    <add key="AADAuthorityUri" value="https://login.windows.net/common/" />
    <add key="PowerBiApiUrl" value="https://api.powerbi.com/" />
    <add key="pbiUsername" value="rageesh.m@greenyourbills.com"/>
    <add key="pbiPassword" value="M1das!@#$%^"/>
    <add key="scope" value="https://analysis.windows.net/powerbi/api/.default"/>
    <!--<add key="Scope" value="https://analysis.windows.net/powerbi/api/Report.Read.All,https://analysis.windows.net/powerbi/api/Dashboard.Read.All" />-->
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <customErrors mode="Off" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>