<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ApplicationID" value="1e0cab2b-b9c7-46ab-8fff-e180f8078711" />
    <add key="ApplicationSecret" value="NZ0Mb6Yx5ISj+g5M6uNkKTJB52gXGU67xy/6SFwFzGc=" />
    <add key="TenantId" value="d52eae62-d6f4-4c52-8fc6-9fb9520338f3" />
    <add key="WorkspaceId" value="847e5601-d810-4dcb-b7c8-c1748431d6e5" />
    <add key="ReportId" value="15ae4c7f-0d89-44d2-aa57-80bb956a672f" />
    <add key="AADAuthorityUri" value="https://login.windows.net/common/" />
    <add key="PowerBiApiUrl" value="https://api.powerbi.com/" />
    <add key="pbiUsername" value="SomeUser"/>
    <add key="pbiPassword" value="SomePassword"/>
    <add key="scope" value="https://analysis.windows.net/powerbi/api/.default"/>
    <!--<add key="Scope" value="https://analysis.windows.net/powerbi/api/Report.Read.All,https://analysis.windows.net/powerbi/api/Dashboard.Read.All" />-->
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <customErrors mode="Off" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>